* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaeaea;
}

h1 {
    color: #333;
    padding: 10px;
    margin: 10px;
}

#wellcome-message {
    margin-top: 10px;
    text-align: center;
}

.dashboard-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; 
    width: 100%;
}

.role-section  {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.role-section p {
    margin-top: 20px;
}

button {
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

#logout-button {
    background-color: #f44336;
    color: white;
    margin-top: 10px;
}

#logout-button:hover {
    background-color: #e53935;
}

#professor-logout-button {
    background-color: #f44336;
    color: white;
    margin-top: 10px;
}

#professor-logout-button:hover {
    background-color: #e53935;
}

#grades-section {
    margin-top: 25px;
    text-align: left;
}

#grades-section {
    margin-top: 25px;
    max-height: 300px;
    width: 100%;
    overflow-y: auto; 
    padding-right: 10px; 
    text-align: left;
}

#grades-section h3 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 15px;
}

#grades-list h4 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0 5px;
}

#grades-list ul {
    list-style-type: none;
    padding-left: 0;
}

#grades-list li {
    background-color: #f9f9f9;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

#grades-list li:hover {
    background-color: #eaeaea;
}