* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header {
    text-align: center; 
}

h1 {
    color: #333; 
    font-size: 2.5rem; 
}

.welcome-message {
    text-align: center;
    font-size: 1.5rem; 
    margin-bottom: 20px; 
    color: #555; 
}

.auth-button {
    text-decoration: none; 
    padding: 10px 20px; 
    background-color: #4CAF50; 
    color: white; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.auth-button:hover {
    background-color: #45a049; 
}

.auth-button:active {
    background-color: #3e8e41; 
}